[submodule "api-exams"]
	path = api-exams
	url = git@github.com:adxl/bng-api-exams.git
[submodule "api-auth"]
	path = api-auth
	url = git@github.com:adxl/bng-api-auth.git
[submodule "api-gears"]
	path = api-gears
	url = git@github.com:adxl/bng-api-gears.git
[submodule "api-events"]
	path = api-events
	url = git@github.com:adxl/bng-api-events.git
[submodule "gateway"]
	path = gateway
	url = git@github.com:adxl/bng-gateway.git
[submodule "app"]
	path = app
	url = git@github.com:adxl/bng-app.git
